@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;

  /* Custom Fonts */
  --font-Outfit: "Outfit", sans-serif;
  --font-Ovo: "Ovo", serif !important;
}

/* Optional global font */
/* * {
  font-family: "Outfit", sans-serif;
} */

/* body {
  font-family: var(--font-Outfit);
} */